* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

:root {
  --yellow-color: rgb(255, 255, 194);
  --dark-gray-color: rgb(54, 54, 54);
  --peach-color: rgb(255, 196, 196);
  --dark-red-color: rgb(255, 89, 89);
  --green-color: rgb(196, 255, 199);
  --blue-color: rgb(171, 241, 243);
  font-size: 10px;
  color: var(--dark-gray-color);
}

body {
  position: relative;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.navigation {
  width: 100%;
  background-color: var(--yellow-color);
  list-style: none;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__brand h1 {
  font-size: 4rem;
  color: var(--dark-gray-color);
}

.library-content-wrapper {
  margin-top: 5rem;
  padding: 5rem;
  z-index: 1;
}

.add-book-button {
  padding: 10px 20px;
  border-radius: 3.5rem;
  border: none;
  box-shadow: 0 0 0 1rem var(--peach-color);
  background-color: rgb(196, 255, 199);
  font-size: 3rem;
  display: block;
  margin: 30px auto 0px auto;
  cursor: pointer;
  transition-duration: 0.3s;
}

.add-book-button:hover {
  background-color: var(--peach-color);
  box-shadow: 0 0 0 1.5rem var(--green-color);
}

.add-book-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--blue-color);
  padding: 5rem;
  border-radius: 3rem;
  box-shadow: 0 0 0 3.5rem var(--green-color);
}

.add-book-form h3 {
  font-size: 3rem;
  margin: 0 auto 2rem auto;
  text-align: center;
}

.add-book-form__close {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  background: transparent;
  font-size: 3rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: gray;
  transition-duration: 0.3s;
}

.add-book-form__close:hover {
  color: black;
  transform: scale(1.1);
}

.add-book-form input {
  display: block;
  font-size: 2.5rem;
}

.add-book-form input[type='text'],
.add-book-form input[type='number'] {
  margin-bottom: 1rem;
  border: none;
  background-color: var(--peach-color);
  border-radius: 3rem;
  padding: 1rem 2rem;
  transition-duration: 0.5s;
}

.add-book-form input[type='text']:focus,
.add-book-form input[type='number']:focus {
  background-color: var(--green-color);
  border: none;
}

.add-book-form input[type='submit'] {
  padding: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  box-shadow: 0 0 2rem #eee;
  border-radius: 1rem;
  width: 20rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.12),
    0 0.1rem 0.2rem rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  border-radius: 2.5rem;
  background-image: linear-gradient(
    to right,
    #dd5e89 0%,
    #f7bb97 51%,
    #dd5e89 100%
  );
  border: none;
  margin: auto;
}

.add-book-form input[type='submit']:hover {
  background-position: right center;
  transform: rotate3d(1, 1, 1, 10deg);
}

.library h2 {
  text-align: center;
  font-size: 3rem;
}

.library__books-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.book-card {
  background-color: var(--peach-color);
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 0 2rem var(--yellow-color);
}

.book-card h4 {
  font-size: 2.5rem;
}

.book-card__author {
  font-size: 2rem;
}

.book-card__pages {
  font-size: 1.5rem;
}

.book-card__btn {
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  color: rgb(61, 61, 61);
  transition-duration: 0.3s;
}

.book-card__btn:hover {
  filter: brightness(150%);
  transform: scale(1.1);
}

.book-card__btn.read {
  background-color: var(--green-color);
}

.book-card__btn.delete {
  background-color: var(--dark-red-color);
}
